.contact{
    text-align:center;
}
body{
    color:white;
    background-position:center;
    background-image:url('cnt_bck.jpg');
    font-family: sans-serif;
}
form{
    font-size: medium;
    text-align:center;
    margin:10px;
    font-size:30px;
    max-width: 550px;
    width: 90%;
    margin: 17vh auto 0 auto;
   /* background:burlywood;*/
    padding:10px;
}
label{
    display:block;
    margin: 20px 0px;
}